@model Vidley.ViewModels.ReturnMovieViewModel


@{
    ViewBag.Title = "Movie Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie Return</h2>

@using (Html.BeginForm("Returned", "Rentals"))
{
    <div>
        @Html.Label("Movie Title")
        @Html.TextBoxFor(m => m.Name, new {@class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div>
        <p>Please enter in the name of the movie you are returning</p>
    </div>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
 

    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval");
}